@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
    /* font-family: 'Fira Sans', sans-serif; */
    font-family: 'Merriweather', serif;
}

main {
    padding: 20px;
    width: 90vw;
    max-width: 768px;
    height: 96vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;

    font-size: 16px;
    color: #000;
    background-color: #ffffffbd;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* scrollbar */

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #0000;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 9px;
}

/* ---------- */
/* index.html */
/* ---------- */

h1 {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    word-spacing: 5px;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px auto 48px auto;
}

h1 span {
    font-size: 24px;
    font-family: 'Pacifico', cursive;
}

h2 {
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
}

form * {
    font-size: 20px;
    line-height: 30px;
}

form div {
    margin: 12px 0;
}

form div label:first-child {
    font-weight: 600;
}

form input[type=text],
form input[type=email],
form input[type=tel],
form input[type=date],
form input[type=number] {
    width: 95%;
    padding: 0 5px;
    font-size: 0.9em;
    background-color: transparent;
    border: 1px solid #000;
}

form input[type=radio] {
    margin: 0 5px 0 0;
}

form input::placeholder {
    color: #555;
}

form button {
    width: 60%;
    max-width: 180px;
    text-transform: uppercase;
    display: block;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px;
    margin: 10px auto;
}

form button span {
    font-weight: 600;
    color: #000;
    letter-spacing: 2px;
    margin: 0;
}

p {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}