@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    cursor: grab;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Merriweather', serif;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 9px;
}

/* --- header --- */

header {
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #1115;
}

h1 {
    font-size: 28px;
    font-family: 'Pacifico', cursive;
    word-spacing: 5px;
    margin: 20px 0;
}

h1 span {
    font-size: 22px;
    font-family: 'Pacifico', cursive;
}

/* --- main --- */

main {
    width: 90%;
    max-width: 768px;
    margin: 10px auto;
    padding: 10px;
}

h2 {
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
}

/* -- form -- */

form * {
    font-size: 20px;
    line-height: 30px;
}

form div {
    margin: 10px 0;
}

form div label:first-child {
    font-weight: 600;
}

form input[type=text],
form input[type=email],
form input[type=tel],
form input[type=date],
form input[type=number] {
    width: 95%;
    padding: 0 5px;
    font-size: 0.9em;
    background-color: transparent;
}

form input[type=radio] {
    margin: 0 5px 0 0;
}

form button {
    width: 40%;
    text-transform: uppercase;
    display: block;
    border-radius: 10px;
    padding: 5px;
    margin: 10px auto;
}

form button span {
    font-weight: 600;
    color: #000;
    letter-spacing: 2px;
}

/* --- footer --- */

footer {
    max-width: 896px;
    margin: 0 auto 20px auto;
    text-align: center;
}

footer p {
    font-size: 14px;
    line-height: 30px;
}
